body {
	background-color: #0b1828;
	min-width: 350px;
}

body a{
	text-decoration: none;
}

.mainnav .active{
	color: blue!important;
}

.mainnav .active::after{
	content:'';
	background-color: blue;
	height: 2px;
	display: block;
	margin-top: 5px; 
}

.heronav .active{
	color: blue!important;color:
	background-color: transparent!important;
}

.heronav .active::after{
	content:'';
	background-color: blue;
	height: 2px;
	display: block;
	margin-top: 5px;
}

.hero-area{

	background-image: url("../images/11.jpg");
	min-height: 400px;
	background-position: 20% 30%;
	background-size: 100%;
}


.song-small:hover{

	border: solid thin grey;
	cursor: pointer;
	transform: translateY(-10px);
}

.song-small{
	background-color: #193353;
	background: linear-gradient(90deg, rgba(0,0,4,1)0%, rgba(24,49,82,1)15%, rgba(25,51,83,1)67%, rgba(0,212,255,0)100%);
	transition: all 0.3s ease;
}

.song-small-img{
	width: 50px;
	height:50px;
	object-fit: cover;
}

.song-category-title::after{

	content:'';
	background-color: #2cc8e5;
	background: linear-gradient(90deg, rgba(24,49,82,0)0%, rgba(44,200,229,1)10%, rgba(25,51,83,1)67%, rgba(0,212,255,0)100%);
	height: 1px;
	display: block;
	margin-top: 15px;
	width: 50%;
	

	
	}

.song-category-title{

	color:#2cc8e5;
}


.big-song-hover i {
	
	left:50%;
	top:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	
}



.big-song-hover:hover{
	opacity: 1!important

	
}


.big-song-hover{

	position: absolute;
	background-color: #000000bb;
	left: 0px;
	top:0px;
	width: 200px;
	height:200px;
	opacity: 0;
	transition: all .8s ease;
}


.big-song-img {
	width: 200px;
	height:200px;
	object-fit: cover;

}

@media (max-width: 602)
{
	.nav-spacer{
		height: 50px;
	}
}

@media (max-width: 435px)
{
		.nav-spacer{
			height: 80px;
		}
	}

.icons {
	position:sticky;
	height: 50px;
	background-color: rgb(11, 241, 207);
	color: rgb(60, 59, 59);
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items:center;
	height: 50px;
	width: 100vw;
	left:50px
	align flex;
	


}

	.bottom{

		position:sticky;
		height: 130px;
		background-color: black;
		color: white;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items:center;
		flex-direction: column;
	
	}






	.songInfo img{
	
	opacity: 10vw;
	transform: opacity is ease-in;
	}

	
	
	.songInfo {
	
		left: 0vw;
		color: white;
		left: 12%;
		font-family: 'varela Round' sans-serif;
		padding-top: 1px;
		background-color: black;
		size-adjust: relative;
		
	}